[Unit]
Description=Timer de actualización automática de ChurrOS

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
RandomizedDelaySec=30min

[Install]
WantedBy=timers.target
