[Desktop Entry]
Type=Application
Name=ChurrOS Welcome
Exec=churros-welcome --live-only
Icon=churros-welcome
Terminal=false
StartupNotify=false
OnlyShowIn=XFCE;KDE;
