window{
    background:transparent;
}

.control-center{

    background:rgba(24,24,24,.88);

    border-radius:22px;

    color:white;

}

/* ---------------- HEADER ---------------- */

.title{

    font-size:25px;

    font-weight:700;

    color:white;

}

.subtitle{

    font-size:14px;

    color:#d5d5d5;

}

/* ---------------- CARDS ---------------- */

.card{

    background:rgba(82,82,82,.82);

    border-radius:22px;

    padding:18px;

    border:2px solid transparent;

}

.card:hover{

    border:2px solid #ff9800;

    background:rgba(92,92,92,.92);

}

.card:active{

    background:rgba(70,70,70,.95);

}

/* ---------------- TEXT ---------------- */

.card-title{

    font-size:17px;

    font-weight:700;

    color:white;

}

.card-subtitle{

    font-size:14px;

    color:#efefef;

}

/* ---------------- POWER ---------------- */

.power-button{

    background:transparent;

    border:none;

    min-width:40px;

    min-height:40px;

}

.power-button:hover{

    background:rgba(255,152,0,.12);

    border-radius:999px;

}

/* ---------------- AUDIO ---------------- */

scale{

    margin-top:12px;

}

scale trough{

    background:#666;

    min-height:8px;

    border-radius:100px;

}

scale highlight{

    background:#ff9800;

    border-radius:100px;

}

scale slider{

    background:white;

    min-width:16px;

    min-height:16px;

    border-radius:100px;

}

/* ---------------- LABELS ---------------- */

label{

    color:white;

}