* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    border: none;
}

window#waybar {

    background: rgba(31,31,31,0.96);

    color: #f5f5f5;

    border-radius: 16px;

    border: 1px solid rgba(249,115,22,0.25);

    margin: 10px;

    padding: 6px;
}

/* ---------- LOGO ---------- */

#image-logo {

    margin-left: 8px;

    margin-right: 14px;

    padding: 4px;
}

/* ---------- WORKSPACES ---------- */

#workspaces {

    background: rgba(255,255,255,0.05);

    border-radius: 10px;

    padding: 2px 6px;

    margin: 4px;
}

#workspaces button {

    color: #b0b0b0;

    padding: 0 10px;

    margin: 2px;

    border-radius: 8px;
}

#workspaces button:hover {

    background: rgba(249,115,22,0.20);

    color: white;
}

#workspaces button.active {

    background: #f97316;

    color: white;
}

/* ---------- VENTANA ---------- */

#window {

    color: #f5f5f5;

    font-weight: 600;
}

/* ---------- MÓDULOS ---------- */

#tray,
#network,
#bluetooth,
#pulseaudio,
#clock {

    background: rgba(255,255,255,0.05);

    color: #f5f5f5;

    border-radius: 10px;

    margin: 4px;

    padding: 6px 14px;
}

/* ---------- HOVER ---------- */

#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#clock:hover,
#tray:hover {

    background: rgba(249,115,22,0.15);
}