* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    border: none;
}

window#waybar {
    background: rgba(31, 31, 31, 0.96);
    color: #f5f5f5;

    border: 1px solid rgba(249, 115, 22, 0.25);
    border-radius: 16px;

    margin: 10px;
    padding: 6px;
}

#custom-logo,
#workspaces,
#window,
#clock,
#network,
#pulseaudio {

    background: rgba(255,255,255,0.05);

    color: #f5f5f5;

    border-radius: 10px;

    margin: 4px;
    padding: 6px 12px;
}

#custom-logo {
    color: #f97316;
    font-weight: bold;
}

#window {
    color: #f97316;
}

#workspaces button {

    color: #b0b0b0;

    padding: 0 8px;

    border-radius: 8px;

    background: transparent;
}

#workspaces button:hover {

    background: rgba(249,115,22,0.15);

    color: white;
}

#workspaces button.active {

    background: #f97316;

    color: white;
}

#clock:hover,
#network:hover,
#pulseaudio:hover,
#custom-logo:hover {

    background: rgba(249,115,22,0.15);
}
#workspaces {
    background: rgba(255,255,255,0.05);
    border-radius: 10px;
    margin: 4px;
    padding: 2px 6px;
}

#workspaces button {
    color: #b0b0b0;
    border-radius: 8px;
    padding: 0 10px;
    margin: 2px;
}

#workspaces button:hover {
    background: rgba(249,115,22,0.20);
    color: white;
}

#workspaces button.active {
    background: #f97316;
    color: white;
}

#tray {
    background: rgba(255,255,255,0.05);
    border-radius: 10px;
    padding: 0 10px;
    margin: 4px;
}

#image-logo {
    margin-left: 8px;
    margin-right: 12px;
    padding: 4px;
}