polkit.addRule(function(action, subject) {
    if (action.id == "io.calamares.calamares.pkexec.run" &&
        subject.user == "churros") {
        return polkit.Result.YES;
    }
});
