window {
    background: #545050;
}

/* Header */

.logo {
    margin-bottom: 10px;
}

.title {
    font-size: 34pt;
    font-weight: bold;
    color: white;
}
.subtitle {
    color: #bdbdbd;
    font-size: 13pt;
}

/* Footer */

.footer {
    color: #777777;
    font-size: 10pt;
}

/* Cards */

.action-card {
    border-radius: 18px;
    padding: 18px;
}

.action-card:hover {
    background: alpha(white, 0.05);
}

.action-card-icon {
    font-size: 34pt;
}

.action-card-title {
    font-size: 15pt;
    font-weight: bold;
}

.action-card-description {
    color: #bdbdbd;
    font-size: 11pt;
}