.power-widget {

    padding: 4px;

}

.power-button {

    border-radius: 12px;

    padding: 12px;

    background: rgba(255,255,255,.05);

    transition: 200ms;

}

.power-button:hover {

    background: rgba(255,122,0,.18);

}

.power-icon {

    color: #ff7a00;

    font-size: 20px;

}

.power-text {

    color: white;

    font-size: 14px;

    font-weight: 600;

}