[Desktop Entry]
Name=Configuración
Name[es]=Configuración
GenericName=Configuración del Sistema
GenericName[es]=Configuración del Sistema
Comment=Configura ChurrOS
Comment[es]=Configura las preferencias de ChurrOS
Exec=churros-settings
Icon=churros-settings
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;Qt;KDE;GTK;
StartupNotify=true
Keywords=settings;preferences;ajustes;configuracion;
X-KDE-Keywords=settings;preferences;ajustes;configuracion;
