[Desktop Entry]
Type=Application
Name=Configuración de ChurrOS
Comment=Panel de Ajustes de ChurrOS
Exec=churros-settings
Icon=churros-settings
Terminal=false
Categories=Settings;DesktopSettings;Qt;KDE;GTK;
StartupNotify=true
NoDisplay=true
Hidden=true
