button-title=
button-icon=churros-logo
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
item-icon-size=2
category-icon-size=1
hover-switch-category=true
favorites=churros-welcome.desktop,calamares.desktop,thunar.desktop,firefox.desktop,xfce4-terminal.desktop,churros-settings.desktop,bazaar.desktop,churros-software.desktop
recent-items-max=10
favorites-in-recent=false
position-search-alternate=true
position-commands-alternate=true
position-categories-alternate=true
position-profile=1
stay-on-focus-out=false
view-as-icons=false
menu-width=520
menu-height=580
menu-opacity=96
command-settings=churros-settings
command-lockscreen=xflock4
command-switchuser=dm-tool switch-to-greeter
command-logout=xfce4-session-logout
command-menueditor=menulibre
